/* main.css
 * terencecho.com
 */

/*
 * needs:
 * footer
 * footer-links gotta make it line up in rows
 *
 *
 *
 * home
 *
 *
 *
 * Get ride of home tab?
 */

/*
color: #288;
     background: #123;
     */

.home {
    padding: 8em 1em 1em 1em;
    background: #123;
}

.resume {
    padding: 8em 1em 1em 1em;
}

.projects {
    padding: 8em 1em 1em 1em;
}

.project-list {
    padding-left: 3em;
}

.contact {
    padding: 8em 1em 1em 1em;
}